{% extends "base.html.j2" %}

{% block content%}
<div class="row">

    <h1>Dashboard</h1>

    <p>
        <a class="btn" href="{{ url_for('wake_all') }}">Wake all</a>

    </p>
    {% for client in photon.clients.values() %}
    <div class="col s12 m6 l4">
        <div class="client card" data-id="{{ client.id }}">
            {% if client.image %}
            <div class="card-image">
                <img src="{{ url_for('custom.static', filename=client.image) }}" />
                <span class="card-title">{{ client.name }} (#{{ client.id }})</span>
            </div>
            {% else %}
            <div class="card-title">{{ client.name }} (#{{ client.id }})</div>
            {% endif %}
            <div class="card-content">
                <div class="results">
                </div>
                <div class="state">
                    Unknown
                </div>
            </div>
            <div class="card-action">
                <a class="export">Export</a>
                <a class="wake">Wake</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

</div>
<script>
    for (let client of document.querySelectorAll('.client')) {
        let result = client.querySelector('.results');
        let state = client.querySelector('.state');
        client.querySelector('.export').addEventListener('click', async () => {
            result.innerHTML = 'Exporting...';
            let response = await fetch(`${client.dataset.id}/export`, { method: 'POST' });
            let json = await response.json();
            result.innerHTML = `<a href="${json.url}">Download export</a>`;
        });

        client.querySelector('.wake').addEventListener('click', async () => {
            result.innerHTML = 'Waking up...';
            let response = await fetch(`${client.dataset.id}/wake`, { method: 'POST' });
        });

        let refresh = async () => {
            setTimeout(refresh, 5000);

            let response = await fetch(`${client.dataset.id}/`);
            let json = await response.json();
            // result.innerHTML = `<code>${JSON.stringify(json)}</code>`;
            client.classList.remove('inactive');
            client.classList.remove('active');
            if (json.active) {
                state.innerHTML = 'Running';
                client.classList.add('active');
            } else {
                state.innerHTML = 'Not running';
                client.classList.add('inactive');
            }
        };
        refresh();
    }
</script>
{% endblock %}
