body {
    font-family: sans-serif;
}

a {
    cursor: pointer;
}

img {
    max-width: 100%;
}

.grid {
    display: flex;
    flex-wrap: wrap;

}

.grid>* {
    display: flex;
}

.col .card {
    width: 100%;
}

.row .grid .col {
    margin-left: unset !important;
}

.card-image .card-title {
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}

.card-image {
    height: 200px;
}

.card-image img {
    filter: brightness(75%);
    object-fit: cover;
    height: 100%;
}

.client.active .state {
    color: darkgreen;
    font-weight: bold;
}

.client.inactive .state {
    color: darkred;
}

.client.inactive .preview,
.client.inactive .export {
    display: none;
}

.client.active .wake {
    display: none;
}

#site-actions>* {
    margin: 0 1em;
}

#replays .thumb {
    max-height: 300px;
}

#preview {
    max-height: calc(100vh - 200px);
}
